@font-face {
  font-family: "iconfont"; /* Project id 4930279 */
  src: url("iconfont.woff2?t=1748231426141") format("woff2");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianxiren1:before {
  content: "\e658";
}

.icon-dianhua:before {
  content: "\e655";
}

.icon-lianxiren:before {
  content: "\e656";
}

.icon-jinyong:before {
  content: "\e657";
}

.icon-sousuo:before {
  content: "\e63d";
}

.icon-shangjiantou-1:before {
  content: "\e64b";
}

.icon-shangjiantou:before {
  content: "\e64c";
}

.icon-shaixuan:before {
  content: "\e63c";
}

.icon-riqi-zuojiantou:before {
  content: "\e63b";
}

.icon-riqi-youjiantou:before {
  content: "\e64d";
}

.icon-renwu:before {
  content: "\e64e";
}

.icon-quxiao-1:before {
  content: "\e63a";
}

.icon-quxiao:before {
  content: "\e64f";
}

.icon-kanban:before {
  content: "\e639";
}

.icon-neirong:before {
  content: "\e650";
}

.icon-a-jianshaoquxiaozanting:before {
  content: "\e651";
}

.icon-fang-xuanzhong:before {
  content: "\e638";
}

.icon-fang-weixuanzhong:before {
  content: "\e652";
}

.icon-daikaishi:before {
  content: "\e637";
}

.icon-dengdaichaoshi:before {
  content: "\e653";
}

.icon-bianji:before {
  content: "\e654";
}

.icon-xian-riqi:before {
  content: "\e648";
}

.icon-xiajiantou-1:before {
  content: "\e63e";
}

.icon-xiajiantou:before {
  content: "\e63f";
}

.icon-xianshi:before {
  content: "\e649";
}

.icon-tishi:before {
  content: "\e64a";
}

.icon-zuojiantou:before {
  content: "\e643";
}

.icon-zengjia:before {
  content: "\e644";
}

.icon-yuan-weixuanzhong:before {
  content: "\e642";
}

.icon-yuan-xuanzhongzhuangtai:before {
  content: "\e641";
}

.icon-youjiantou:before {
  content: "\e645";
}

.icon-yincang:before {
  content: "\e646";
}

.icon-yiwancheng:before {
  content: "\e640";
}

.icon-xian-:before {
  content: "\e647";
}
