@keyframes rightCharacterAnimation {
  0% {
    width: 60%;
    height: 60%;
    transform: translate(0, 0) rotate(-12deg);
  }
  10% {
    width: 60%;
    height: 60%;
    transform: translate(-8px, 8px) rotate(-12deg);
  }
  20% {
    width: 60%;
    height: 60%;
    transform: translate(4px, 4px) rotate(-12deg);
  }
  30% {
    width: 60%;
    height: 60%;
    transform: translate(0px, 2px) rotate(-12deg);
  }
  40% {
    width: 60%;
    height: 60%;
    transform: translate(-2px, -4px) rotate(-12deg);
  }
  50% {
    width: 60%;
    height: 60%;
    transform: translate(4px, 8px) rotate(-12deg);
  }
  60% {
    width: 60%;
    height: 60%;
    transform: translate(-2px, 12px) rotate(-12deg);
  }
  70% {
    width: 60%;
    height: 60%;
    transform: translate(4px, 8px) rotate(-12deg);
  }
  80% {
    width: 60%;
    height: 60%;
    transform: translate(4px, -10px) rotate(-12deg);
  }
  90% {
    width: 60%;
    height: 60%;
    transform: translate(5px, 8px) rotate(-12deg);
  }
  100% {
    width: 60%;
    height: 60%;
    transform: translate(0px, 4px) rotate(-12deg);
  }
}

.right-character-animation {
  animation: rightCharacterAnimation 2s;
  animation-delay: 1s;
  position: relative;
}
